import { useState } from "react";


import "./{{componentName}}.scoped.scss";
export default function {{componentName}}(props) {

  const handleChange = (value, cb) => {
    cb(value);
  };
  const handleEnter = () => {};
  return (
    <div className="wrapper">
      
    </div>
  );
}
